.fondo {
    background: url('../img/hockey_3.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Comic Neue';
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.6)	;
    font-size: xx-large;
}
    
.caja1 {
    background-color: rgb(238, 84, 115, 0.8);
    position: absolute;
    top: 150px;
    left: 35%;
    height: 60px;
    width: 30%;
    text-align: center;
    font-family: 'Comic Neue';
    color: white;
    font-size: xx-large;
}

.logo {
    position: relative;
    top: -30px;
    left: 20%;
    background-color: rgb(255, 255, 255, 0.9);
}


.links {
    font-family: "Comic Neue";
    position: relative;
    top: 150px;
    left: 50%;
    display: inline-block;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    font-size: x-large;

}


a {
    color: white;
    background-color: grey;
}

.contenido {
    font-family: "Comic Neue";
    position: relative;
    top: 10px;
    text-align: center;
    left: 30%;
    max-width: 35%;
    background-color: rgba(255, 158, 177, 0.9);
    font-size: large;
    padding: 10px;
}
